*{
  padding: 0;
  margin: 0; 
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#000, #43005a);
}

.title{
  color:#fff;
  font-size: 7rem;
  animation: pulsate 6s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }

  
}
.hello{
  color: #fff;
}

.inputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(57, 57, 57, 0.6) ;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

.sendButton{
  color: #fff;
  cursor: pointer;
  margin-left: 2rem;
}

.inputContainer input {
  background-color: transparent;
  border: #fff;
  font-size: 25px;
  color: #fff;
}
